USE [SmartAppt]
GO
/****** Object:  StoredProcedure [core].[Customer_Create]    Script Date: 22.04.2026 17:13:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [core].[Customer_Create]
	@BusinessId INT,
	@FullName NVarchar(200),
	@Email NVARCHAR(320),
	@Phone NVARCHAR(50),
	@UserId UNIQUEIDENTIFIER,
	@CustomerId INT OUTPUT
as

begin
	set nocount on
	
	insert into core.Customer (BusinessId, FullName, Email, Phone, UserId)
	Values (@BusinessId, @FullName, @Email, @Phone, @UserId);

	set @CustomerId = SCOPE_IDENTITY();
end
