USE [SmartAppt]
GO
/****** Object:  StoredProcedure [core].[Customer_GetByBusinessId]    Script Date: 06.04.2026 19:32:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [core].[Customer_GetByBusinessId]
	@BusinessId int,
	@PageNumber int,
	@PageSize int
as
begin

	set nocount on

	If (@PageNumber < 1)
        set @PageNumber = 1;

    If (@PageSize < 1)
        set @PageSize = 10;

    If (@PageSize > 100)
        set @PageSize = 100;

	Declare @Offset Int;
    set @Offset = (@PageNumber - 1) * @PageSize;

	Select * From core.Customer
	Where BusinessId = @BusinessId
	Order By CustomerId
	Offset @Offset rows
	Fetch next @PageSize rows only;

end