bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates
*.DotSettings.user
*.userprefs

# Visual Studio
.vs/

# JetBrains
.idea/
*.iml

# ReSharper
_ReSharper.Caches/

# NuGet
packages/
*.nupkg
.nuget/

# Build results
*.dll
*.exe
*.pdb
*.cache

# Logs & temp
*.log
*.tmp
*.temp
*.bak

# Database files
*.mdf
*.ldf

# OS junk
Thumbs.db
.DS_Store
ehthumbs.db
Desktop.ini

*.sln.DotSettings

*.DotSettings
*.DotSettings.user

appsettings.json
appsettings*.json

# if you have a template to keep
!appsettings.example.json 
